@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E4EBFA;
  font-weight: 600;
  font-size: 14px;
  overflow: hidden;
}

.sidebar li span {
  display: flex;
  color: #828fa3;
  max-width: 90%;
  cursor: pointer
}

.sidebar li.active {
  background: #635fc7;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}

.sidebar li.active span {
  color: #fff !important;
}

.sidebar li:hover:not(:first-child) {
  background: #f0effa;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  color: #635fc7;
}

.sidebar li:hover span {
  color: #635fc7 !important;
}

.sub-tasks {
  max-width: 340px
}

.task {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.active_drop {
  opacity: 1;
  transition: all 0.3s ease-in;
  height: 50px;
}

.hide_drop {
  opacity: 0;
}

.light-button {
  background: #f0effa;
  border-radius: 45px;
  color: #635fc7;
  text-align: center;
  padding: 10px
}

.violet-button {
  background: #635fc7;
  border-radius: 45px;
  color: white;
  text-align: center;
  padding: 10px
}

.color-0 { color: red }
.color-1 { color: green }
.color-2 { color: orange }
.color-3 { color: purple }
.color-4 { color: indigo }