@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E4EBFA;
  font-weight: 500;
  font-size: 14px;
}

.sidebar li {
  display: flex;
  gap: 0.5rem;
  padding: 12px 35px 12px 40px;
  color: #828fa3;
  max-width: 90%;
}

.sidebar li.active {
  background: #635fc7;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  color: #fff
}