@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 600;
  font-size: 14px;
  overflow: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input[type='checkbox'] {
  cursor: pointer
}

.sidebar li span {
  display: flex;
  color: #828fa3;
  max-width: 90%;
  cursor: pointer
}

.sidebar li.active {
  background: #635fc7;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}

.sidebar li.active span {
  color: #fff !important;
}

.sidebar li:hover:not(:first-child) {
  background: #f0effa;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  color: #635fc7;
}

.sidebar li:hover span {
  color: #635fc7 !important;
}

.sub-tasks {
  max-width: 340px
}

.task {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.active_drop {
  opacity: 1;
  transition: all 0.3s ease-in;
  height: 80px;
}

/* .drop-0.active_drop,
.active_drop:last-child {
  height: 150px;
} */


.hide_drop {
  opacity: 0;
}

.light-button {
  background: #f0effa;
  border-radius: 45px;
  color: #635fc7;
  text-align: center;
  padding: 10px
}

.violet-button {
  background: #635fc7;
  border-radius: 45px;
  color: white;
  text-align: center;
  padding: 10px
}

.color-0 { color: #ec5757 }
.color-1 { color: #33d69f }
.color-2 { color: #ea5555 }
.color-3 { color: #9277ff }
.color-4 { color: #0d99ff }

div[role=dialog] button svg path{
  display: none;
  visibility: hidden;
  width: 0;
}

div[role=dialog] {
  outline: none;
}

div[role=menuitemradio] span{
  display: none;
}

.switch button {
  background-color: #635fc7 !important;
}

.switch button span{
  background-color: white !important;
}

.light {
  background: #E4EBFA;
}

.dark {
  background-color: #20212c;
  color: white
}

.light .backgound-toggle,
.light .bg-background {
  background-color: #fff !important;
  border: none;
}

.dark .backgound-toggle,
.dark .bg-background {
  background: #2b2c37 !important;
  color: #fff;
  border: none;
}

.light .border-toggle {
  border-color: #e4ebfa
}

.dark .border-toggle {
  border-color: #3e3f4e
}

.light .bg-new-col {
  background-color: #f0effa
}

.dark .bg-new-col {
  background-color: #23232e
}

.light .text-toggle {
  color: #828fa3;
}

.dark .text-toggle {
  color: #fff;
}

.light .check-box {
  background-color: #f4f7fd;
}

.dark .check-box {
  background-color: #16161c;
}

.dark .line-text {
  color: #8f9095;
}
.dark select,
.dark input,
.dark textarea {
  background: #2b2c37;
  border-color: #404552;
}

.light input,
.light textarea,
.light select, {
  border-color: #dfe3e8;
}

.dark .toggle-bg {
  background-color: #20212c;
}

.light .toggle-bg {
  background-color: #f4f7fd;
}

